.blist {
    width: 30px;
    padding: 20px 10px;
    margin: 0 auto;
    list-style: none;
}
.image {
   size: 100px 100px;
   margin: 10px;
   float: inline-end;
}
#button1 {
    color: blueviolet;
    font-weight: bold;
    background-color: #f3f3f3;
}
#button2 {
    color: gold;
    font-weight: bold;
    background-color: lightseagreen;
}
#button3 {
    color: darkgreen;
    font-weight: bold;
    background-color: tan;
}
html {
    background-color: #f3f3f3;
}
body {
margin: 40px;
padding: 40px;
color: #242424;
border-top: 10px solid #242424;
border-bottom: 15px solid #242424;
}